<%- include('../partials/header') %>

<ul>
  <% skills.forEach(function(skill) { %>
    <li>
      <h3><%= skill.skill %></h3>
      <p><strong>Description:</strong> <%= skill.description %></p>
      <p><strong>Experience:</strong> <%= skill.experience %></p>
      <form action="/skills/<%= skill.id %>/delete" method="POST" class="delete-form">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="delete-button">Delete</button>      
      </form>
    </li>
  <% }); %>
</ul>

<%- include('../partials/footer') %>
